<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>COVID-19 INDIA</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">

</head>
<body>
    <h1>COVID-19 INDIA</h1>
    <img src="{{ url_for('static',filename='covid.jpg') }}" alt="">
    <h2>COVID-19 UPDATES!</h2>
    <p>{{ line1 }}</p>
    <p>{{ line2 }}</p>
    <p>{{ line3 }}</p>
    <p>{{ line4 }}</p>
    <p>{{ line5 }}</p>
    <p>{{ line6 }}</p>
    <p>{{ line7 }}</p>
    <p>{{ line8 }}</p>
    <p>{{ line9 }}</p>
    <p>{{ line10 }}</p>
    <p>{{ line11 }}</p>
    <p>{{ line12 }}</p>

</body>
</html>